body{   
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
}

h1, h2, h3{
    text-align: center;
    color: darkblue;
}

#players{    
    background-color: rgb(235, 165, 75);   
    border-width: 1px; 
    border-color: black;    
    border-style: inset;


    text-align: center;
    width: 50%;
}

.player{
    background-color: aquamarine;
    margin: 5px;
    width: fit-content;  
    display: inline;    
}

#player3{
    width: 50%;
    background-color: blue;
    
}

#game{
    width: 90%;
    background-color: aqua;
    text-align: center;
}
#lines{
    width: 100%;
    background-color: aquamarine;
}
#tabla1{
    width: 50%;
    background-color: aquamarine;
    border-radius: 5px;
    
}

#j1, #j2{
    width: 75px;
}

.texto1{
    font-weight: bold;

}

#div1{
    background-color: azure;
    width: 50%;
    text-align: center;
    align-self: auto;
}



.pos{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 400%;
    text-align: center;
    background-color: black;
    color: aliceblue;    
    width: 90px;
    height: 90px;   
    
}
.pos:hover{
    background-color: aliceblue;
    color: black;

}


